.git
.gitignore
.turbo
**/.turbo
**/.next
**/dist
**/.eve
**/node_modules
.env
.env.*
!.env.example
docker/.env.example
*.md
docs
.agents
.cursor
terminals
**/*.log
apps/app/.next
apps/api/dist
tools
